body{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: auto;
}
.parent{
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    padding: 0px 40px;
    border: 1px solid white;
    box-shadow: 5px 5px 3px rgb(102, 100, 100);
    height: 30px;
    margin-top: 10px;
}
.panda img{
    display: flex;
    align-items: center;
    width: 120px;
    height: auto;
}
select{
    font-family: "FontAwesome";
    border: none;
}
select:hover{
    background-color: black;
}
.trolly {
    border: none;
    border-radius: 50%;
    padding: 0px;
    font-size: 30px;
    margin-left: 5px;
}
.trolly:hover{
    background-color: black
}
.log{
    border: 1px solid rgb(212, 84, 127);
    background-color: white;
    border-radius: 5px;
    color:  rgb(212, 84, 127);
    margin-right: 5px;
    
}
.log:hover{
    color: white;
    background-color: black;
    padding: 10px 10px 10px 10px;
    border: none;
}
.sign{
    border: 1px solid  rgb(212, 84, 127);
    background-color:  rgb(212, 84, 127);
    border-radius: 5px;
    color: white;
    margin-right: 5PX;
}
.sign:hover{
    color: white;
    background-color: black;
    padding: 10px 10px 10px 10px;
    border: none;
}
.container{
    position: relative;
    height: 500px;
    background-color: #f7f7f7;
}
.pic{
    position: absolute;
    width: 40%;
    margin-left: 60%;
    background-image: url(https://images.deliveryhero.io/image/foodpanda/homepage/refresh-hero-home-pk.png);
    height: 100vh;
    max-height: 650px;
    background-size: cover;
}
.text{
    position: absolute;
    top: 50%;
    left: 3%;
}
.hero{
    display: flex;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 2px 2px 5px rgb(124, 124, 124);
    margin-top: 20px;
}
.icon input{
    width: 500px;
    height: 40px;
}
.icon{
    position: relative;
}
.burger{
    margin: 0px 20px;
    padding: 10px 20px;
    background-color:  rgb(212, 84, 127);
    color: white;
    border: none;
    border-radius: 7px;
}
.burger:hover{
    background-color: rgb(121, 120, 120);
}
.china{
    margin-top: 85px;
}
.box{
    width: 600px;
    height: 300px;
    border: 1px solid black;
    box-shadow: 2px 2px 5px rgb(97, 97, 97);
    border-radius: 10px;
    position: relative;
    left: 90px;
    bottom: 150px;
    background-color: white;
    padding: 0px 5px 0px 15px;
}
.here{
    color: white;
    background-color:  rgb(212, 84, 127);
    border: none;
    border-radius: 6px;
    padding: 10px;
    height: 60px;
    width: 120px;
    font-size: 15px;
    font-weight: 600;
}
.here:hover{
    background-color: black;
}
.text2{
    margin: 0px 0px 0px 40px;
}
.pakistan{
    margin: 0px 0px 30px 40px;
}
.hello{
    display: flex;
    gap: 20px;
    width: 100%;
    height: auto;
}
.world{
    display: flex;
    gap: 20px;
    width: 100%;
    height: auto;
    max-width: 1920px;
}
.war{
    display: flex;
    gap: 20px;
    width: 100%;
    height: auto;
    max-width: 1920px;
}
.hello button{
    position: relative;
    bottom: 50px;
    left: 10px;
    background-color: white;
    font-size: 20px;
    border-radius: 5px;
    max-width: 1920;
}
.world button{
    position: relative;
    bottom: 50px;
    left: 10px;
    background-color: white;
    font-size: 20px;
    border-radius: 5px;
}
.war button{
    position: relative;
    bottom: 50px;
    left: 10px;
    background-color: white;
    font-size: 20px;
    border-radius: 5px;
}
.city img{
    border-radius: 10px;
}
.pocket{
    margin: 30px 0px 0px 50px;
}
p{
    font-size: 17px;
}
.scanner{
    border: 2px solid black;
    width: 1250px;
    position: relative;
    left: 40px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    background-color:  rgb(212, 84, 127);
    padding: 15px 0px 10px 40px;
    height: 400px;
}
.margin{
    margin-left: 220px;
    font-size: 25px;
}
h2{
    font-size: 30px;
    font-weight: 20px;
}
.picture{
    position: relative;
    bottom: 510px;
    left: 50px;
}
.promo{
    position: relative;
    bottom: 450px;
    left: 80px;
}
.code{
    position: relative;
    bottom: 600px;
    right: 350px;
}
.mobile{
    position: relative;
    bottom: 440px;
    left: 110px;
    margin: 0px;
    padding: 0px;
}